<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.uff.pse.destroythenuduhake"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="17" />
    
    <!-- To communication with the DTN service we need the permission to do so -->
    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="Destroy The Nuduhake - DTN"
            android:name="br.uff.pse.destroythenuduhake.MainActivity" >
            <intent-filter >
        		<action android:name="de.tubs.ibr.dtn.intent.DTNAPP" />
       			<category android:name="android.intent.category.DEFAULT" />
    </intent-filter>
        </activity>
        <activity 
            android:name="br.uff.pse.destroythenuduhake.drawing.FreehandDrawingActivity">
            <intent-filter> 
	       		<action android:name="br.uff.pse.destroythenuduhake.drawing.FreehandDrawingActivity" />  
				<category android:name="android.intent.category.DEFAULT" />  
			</intent-filter>   
        </activity>
        <activity
            android:label="Destroy The Nuduhake - Main"
            android:name="br.uff.pse.destroythenuduhake.Main"
            android:noHistory="true" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="br.uff.pse.destroythenuduhake.DisplayAssetsActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name="br.uff.pse.destroythenuduhake.ShowAssetActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  android:screenOrientation="portrait"></activity>
         <activity android:name="br.uff.pse.destroythenuduhake.AssetsWorkshopActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  android:screenOrientation="portrait"></activity>
        
        <activity 
            android:label="Destroy The Nuduhake - GAME"
            android:name="br.uff.pse.destroythenuduhake.game.MainAndroid"
            android:screenOrientation="landscape">
            
        </activity>
        
        
        
        
        <service android:name="br.uff.pse.destroythenuduhake.dtn.DTNService" />
        
	    <receiver
	        android:enabled="true"
	        android:name="br.uff.pse.destroythenuduhake.dtn.DTNReceiver"
	        android:exported="true"
	        android:permission="de.tubs.ibr.dtn.permission.DTN_SERVER">
	        <!-- Add intent filter for notification of incoming bundles -->
	        <intent-filter>
	            <action android:name="de.tubs.ibr.dtn.intent.RECEIVE" />
	            <category android:name="uff.br.pse.destroythenuduhake" />
	        </intent-filter>

	    </receiver>
    </application>

</manifest>